/* This is the CSS for the base pages. */

nav#normalNavBar {
  color: black;
  text-align: center;
  height: 5.1em;
  line-height: 4em;
  width: 80%;
  display: inline;
}

nav#normalLoginBar {
  color: white;
  text-align: right;
  height: 2.90em;
  line-height: 1.84em;
  width: 98%;
  display: inline;
}

div#loginNavBar {
  background-color: red;
}

div#loginNavBar a.pure-menu-link:hover {
  background-color: darkred;
}


div#topNavBar a.pure-menu-link:hover {
  background-color: white;
}

div#topNavBar {
  background-color: white;
}

#loginNavBar a.pure-menu-link {
  color: white;
  background-color: red;
}

a.pure-menu-link {
  color: black;
}

a.pure-menu-link:hover {
  color: red;
}

li.dropdown_links {
  min-width: 8em;
  line-height: 2vh;
  background-color: white;
  text-align: left;
}

li.ham_dropdown_links {
  width: 80%;
  margin-left: 20%;
  background-color: darkgray;
  text-align: left;
}

/* ul#character_dropdown_list,
ul#games_dropdown_list,
ul#content_dropdown_list {
  display: none;
} */

div#content {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: white;
  text-align: center;
  border-radius: 0.5em;
}

div#content-left {
  margin-left: 10%;
  width: 80%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: white;
  text-align: center;
  border-radius: 0.5em;
}

div#content-left-large {
  margin-left: 4%;
  width: 96%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: white;
  text-align: center;
  border-radius: 0.5em;
}

div#content-right {
  margin-left: 10%;
  width: 80%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: white;
  text-align: center;
  border-radius: 0.5em;
}

div.content-right-large {
  margin-right: 4%;
  width: 96%;
  padding-top: 8px;
  /* padding-bottom: 8px; */
  background-color: white;
  text-align: center;
  border-radius: 0.5em;
}

div#main_content {
  margin-top: 1em;
}

div.separator {
  padding-top: 1em;
}

body {
  background-color: #F1F1F1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer#footer {
  margin-top: auto;
  bottom: 0;
  height: auto;
  width: 100%;
  border-top: 1px solid;
  text-align: center;
}

header h1 {
  text-align: center;
}

.custom-restricted-width{
  text-align: center;
}

div#logo {
  width: 10%;
  display: inline;
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  font-size: xx-large;
}

div#hamburger {
  display: inline;
  width: 10%;
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  font-size: xx-large;
  pointer-events: none;
  visibility: hidden;
}

div#hamburger:hover {
  background-color: #eee;
  cursor: pointer;
}

div#hamburger > i#ham {
  pointer-events: auto;
}

nav#hamburgerNavBar {
  display: none;
}

div#logo img {
  width: auto;
  height: 100%;
}

/* Media query to switch the top nav bar to a hamburger menu 
   if the screen width goes below 1050px. */
@media only screen and (max-width: 1070px) {
  nav#normalNavBar {
    visibility: hidden;
  }

  div#hamburger {
    visibility: visible;
  }
}

/* This just makes it so if the user clicks the hamburger menu, and 
   then the screen width increases to greater than 1070px, then 
   the hamburger menu will disappear. */
@media only screen and (min-width: 1070px) {
  ul#hamburger_list {
    display: none;
  }
}