/* This is the CSS for the home.html page. */

.left {
  text-align: left;
  padding-left: 2em;
}


.editor-container {
  /* padding-left: 12em;
  padding-right: 12em; */
  padding-top: 1em;
  /* padding-bottom: 5em; */
  /* height: 300px; */
}

#editor {
  height: 40vh;
}

.pure-form-stacked#category {
  /* padding-left: 12em; */
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
}

.pure-form {
  padding-bottom: 1em;
  padding-left: 12em;
  padding-right: 12em;
}

#select-cat-message {
  text-align: left;
  position: relative;
  top: -4em;
  color: red;
  height: 1em;
  padding-left: 10.6em;
}

