/* This is the CSS for the search.html page. */

div#searchDiv {
  /* margin-top: 3em; */
  margin: auto;
  width: 70vw;
  height: auto;
  /* flex: 1; */
  text-align: center;
}

form#searchForm {
  max-width: 50%;
  margin: auto;
  text-align: center;
}

div.search_result {
  margin-top: 0;
}

div.page-buttons {
  text-align: center;
}

h4#page_header {
  text-align: center;
}

/* div.search_result h2 {
  text-align: left;
} */

form#searchForm div#searchBar input {
  margin: auto;
  width: 100%;
}

div#searchResults {
  border-top: 1px solid;
}

div#searchResults h2#result_header {
  text-align: center;
}

div.searchResult h2 {
  text-align: left;
}

.post-content {
  max-height: 12em;
  overflow: hidden;
}

.hidden-link-button {
  text-decoration: none;
  color: rgb(32, 124, 222);
}

.hidden-link-button:hover {
  color: red;
}

div.post {
  margin-right: 2.5em;
}

@media screen and (max-width: 1023px) {
  div.post {
    margin-left: 3em;
    margin-right: 3em;
  }

  div#content-left {
    width: auto;
    margin-left: 3em;
    margin-right: 3em;
  }
}